<template name="publicLayout">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/css/images/logo.jpg"><span>CASE CCMS</span></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="{{active 'public'}}"><a href="/">HOME</a></li>
					<li class="{{active 'complaint'}} {{active 'complaintForm'}}"><a href="/complaint">COMPLAINT</a></li>
					<li class="{{active 'compliment'}} {{active 'complimentForm'}}"><a href="/compliment">COMPLIMENT</a></li>
					<li class="{{active 'viewComplaint'}}"><a href="/viewComplaint">VIEW MY COMPLAINT</a></li>
				</ul>
			</div>

		</div>
		<!-- END container -->
	</nav>

	<div class="publicContainer">
		{{> yield}}
	</div>

	<div class="homeSection homeFooter darkGrey-bg">
		<div class="socialmedia">
			<div class="icon-group">
				<a href="https://www.facebook.com/casesg/" target="_blank" class="icon pull-left"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/casesg" target="_blank" class="icon pull-left"><i class="fa fa-twitter"></i></a>
				<a href="https://www.youtube.com/user/CaseMktg/videos" target="_blank" class="icon pull-left"><i class="fa fa-youtube"></i></a>
				<div class="clearfix"></div>
			</div>
		</div>
		<p>
			This website's content is copyright © CASE | Website designed and maintained by TRANSFORMERS PSS.
		</p>
	</div>
</template>