#analytics-space{
	border: dashed 2px;
	border-color: rgb(173, 173, 173);
	min-height: 70vh; 
}

.date-style{
	width: 100%;
	border-color: #ccd0d4;
	text-align: left;
	font-size: 12px;
}

.top-space{
	min-height: 20px;
}

.badge-color-1 {
	background: #ff5b57;
}

.badge-color-2 {
	background: #f59c1a;
}

.badge-color-3 {
	background: #00acac;
}

.badge-color-4 {
	background: #348fe2;
}

.badge-color-5 {
	background: #b6c2c9;
}