.complaintBanner {
	width: 100%;
	height: 200px;
	background: url('../css/images/complaintbanner1.jpg') no-repeat center #eee;
	background-size: cover;
}

.complaintDisplay {
	margin-bottom: 15px;
	margin-right: -15px;
	margin-left: -15px;
}

.complaintDisplay > label {
	text-align: right;
}

.complaintForm {
	background-color: #fff;
}

.hotlinks {
	width: 100%;
	padding: 15px;
	color: #fff;
	margin-bottom: 15px;
	border-radius: 3px;
}

.hotlinks.green {
	background-color: #25c5c3;
}

.hotlinks.blue {
	background-color: #3b99d8;
}

.hotlinks.navy {
	background-color: #1d70a6;
}

.hotlinks .title {
	font-weight: 600;
}

.hotlinks .text {
	font-size: 20px;
	font-weight: 600;
}

.hotlinks i {
	opacity: 0.5;
	font-size: 30px;
}

.onlineBtn {
	cursor: pointer;
}

.hotlinksPullRight {
	float: right;
}


@media only screen and (min-width: 600px) {
	.complaintBanner {
		background: url('../css/images/complaintbanner.jpg') no-repeat center #eee;
		background-size: cover;
	}
}